section.bg-primary {
  position: relative;
}

/*control entire size*/
.wrap-swiper {
  position: relative;
  background-color: #141414;
  max-width: 100%;
  top: 0;
  height: 10vh;
  overflow: hidden;
  padding: 10px 30px;
}

.replay-swiper-container {
  width: 100%;
  height: 100%;
}

.replay-swiper-wrapper {
  position: relative;
  display: flex;
}

/*flex item*/
.replay-swiper-slide {
  color: black;
  width: 20%;
  min-width: 100px;
  cursor: pointer;
}

.replay-swiper-slide:hover .replay-img {
  opacity: 1;
}



.replay-div {
  position: relative;
  background-color: black;
  width: 100%;
  height: 0;
  transition: 0.5s height;
  overflow: hidden;
}

.expand-replay-div {
  position: relative;
  height:  90vh;
  transition: 0.5s height;
}

.replay-div-content {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  /*transition: 0.5s background-image;*/
  /*transition: 0.5s;*/
}


.close-div {
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
  font-size: 5rem;
}

.replay-div-content-text {
  z-index: 1000;
  position: absolute;
  bottom: 6%;
  left: 6%;
}

.replay-div-content-text h2 {
  color: white;
}

.replay-figure {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /*text-align: center;*/
}

.shadow {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  height: 100%;
  background-color: black;
}

.replay-img {
  vertical-align: top;
  display: inline-block;
  opacity: 0.3;
  width: 100%;
  /*height: 100%;*/
}


.replay-img-bright {
  opacity: 1;
}

.description-figcaption {
  bottom: 5%;
  left: 5%;
  /*transform: translate(-50%, -50%);*/
  position: absolute;
  color: white;
}
