section.bg-primary {
  position: relative;
}

/*control entire size*/
.wrap-swiper {
  box-sizing: border-box;
  position: relative;
  background-color: #141414;
  max-width: 100%;
  top: 0;
  height: 10vh;
  /*min-height: 200px*/
  overflow: hidden;
  padding: 10px 30px;
}


.replay-swiper-container {
  width: 100%;
  height: 100%;
}

.replay-swiper-wrapper {
  position: relative;
  display: flex;
}

.swiper-button-prev {
  left: 2px !important;
}

.swiper-button-next {
  right: 2px !important;
}

/*flex item*/
.replay-swiper-slide {
  color: black;
  width: 20%;
  min-width: 175px;
  cursor: pointer;
  padding: 0 10px 0 0;
}

.replay-swiper-slide:last-child {
  padding: 0;
}

.replay-swiper-slide:hover .replay-img{
  opacity: 1;
}

.replay-figure {
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /*text-align: center;*/
}

.img-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,1)30%, rgba(0,0,0,0) 100%);
  z-index: 100;
}

.replay-img {
  position: absolute;
  vertical-align: top;
  display: inline-block;
  z-index: 10;
  opacity: 0.6;
  width: 60%;
  /*min-height: 100%*/
  /*height: 100%*/
  right:0;
  /*height: 100%;*/
}

.replay-img-bright {
  opacity: 1;
}


.description-figcaption, .description-figcaption-performer {
  position: absolute;
  bottom: 5%;
  left: 5%;
  position: absolute;
  color: white;
  z-index: 1000;
  font-size: 16px;
}

.description-figcaption-performer {
  bottom: 50%;
}



.replay-div {
  position: relative;
  background-color: black;
  width: 100%;
  height: 0;
  transition: 0.5s height;
  overflow: hidden;
}

.expand-replay-div {
  position: relative;
  height:  90vh;
  transition: 0.5s height;
}

.replay-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.replay-div-content {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}


.close-div {
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
  font-size: 5rem;
}


.replay-div-content-text {
  z-index: 1000;
  position: absolute;
  bottom: 6%;
  left: 6%;
}

.replay-div-content-text h4,.replay-div-content-text h2, .replay-div-content-text h5 {
  color: white;
}

@media screen and (max-device-width : 736px) and (orientation : landscape) {
  .wrap-swiper {
    padding: 0;
  }
  .replay-swiper-slide {
    padding: 0;
  }
}
