{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Zuirens Live</title>
    <meta name="description" content="">
    <!--You can use open graph tags to customize link previews-->
    <meta property="og:url" content="{{ control_meta.og_url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ control_meta.og_title }}"/>
    <meta property="og:description" content="{{ control_meta.og_description }}"/>
    <meta property="og:image" content="{{ control_meta.og_image }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" href="{% static "css/skin/skin.css" %}">
    <link rel="stylesheet" href="{% static "css/flowplayer.background.css" %}">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static "css/themify-icons.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static "css/flexslider.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static "css/theme-live.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static "css/font-robotocondensed.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:100,300,400,700,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "css/sponsor-slider.css" %}">
    <script src="https://use.fontawesome.com/9a064df3a3.js"></script>

    <style>
        .flowplayer a {
            background: none !important;
        }
        #fp-background {
            position: fixed;
        }
        .fp-mask {
            display: none;
        }
        /*.overlay .fs-vid-background:before {
            background: none !important;
        }*/

    </style>
</head>

<body>
    <div class="nav-container">
        <a id="top"></a>
        <nav class="absolute transparent">
            <div class="nav-bar">
                <div class="module left">
                    <a href="index.html">
                        <img class="logo logo-light" alt="Foundry" src="{% static "img/logo-light.png" %}" />
                        <img class="logo logo-dark" alt="Foundry" src="{% static "img/logo-dark.png" %}" />
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="main-container">
      <section class="fullscreen cover image-bg">
      		<div class="background-image-holder">
              {% if not control_meta.stream_source %}
                {% if control_meta.background %}
          				<img alt="image" class="background-image" src="{{ control_meta.background.url }}" />
                {% else %}
                  <img alt="image" class="background-image" src="{% static "img/Zuirens-bg.jpg" %}" />
                {% endif %}
              {% else %}
        				<div id="hlsjslive1" class="fs-vid-background" style="background-color: #000;"></div>
              {% endif %}
      		</div>
      		<div class="align-bottom">
            <h2 class="mb0 uppercase">Zuirens</h2>
            <h2 class="mb0 uppercase bold">{{ channel.main_title }}</h2>
      				<h4 class="mb32 large uppercase"> {{ control_meta.performer }} <br>
                          {{ control_meta.performer.start_time|date:"H : i" }} - {{ control_meta.performer.start_time|date:"H : i" }}<br> {{ control_meta.performer.start_time|date:"m / d D" }}
                        </h4>
      				<h5 class="uppercase mb0 hidden-sm">{{ channel.main_slogan }}</h5>
      		</div>
      </section>
        <section class="bg-primary pt180 pb180 pt-xs-96 pb-xs-96">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1 text-right text-left-xs col-sm-5">
                          {{ channel.up_coming_description|safe }}
                          <hr class="visible-xs">
                        </div>
                        <div class="col-md-5 col-sm-7">
                          <ul class="mb0">
                            {% for performer in performers %}
                              <li class="mb8">
                                  <h5 class="uppercase inline-block mb0">{{ performer.name }} /&nbsp;</h5>
                                  <span>{{ performer.start_time|date:"m/d" }}</span>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
              <div class="sponsor-slider">
                {% if sponsors|length > 1 %}
                <i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>
                <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
                {% endif %}
                <figure>
                  {% for sponsor in sponsors %}
                    <section class="image-bg overlay pt180 pb180 pt-xs-96 pb-xs-96 slide">
                      <div class="background-image-holder">
                            <img alt="image" class="background-image" src="{{ sponsor.background.url }}" />
                      </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1 col-sm-6">
                                  <h4 class="bold uppercase italic mb8">{{ sponsor.name }}</h4>
                                  <h6 class="uppercase mb0">{{ sponsor.description }}</h6>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                      </section>
                    {% endfor %}
                </figure>
                <div class="blank-div"></div>
              </div>

        <section class="bg-secondary">
            <div class="container">
                <div class="row v-align-children">
                    <div class="col-md-5 col-sm-6 text-center mb-xs-24">
                        <a href="https://www.facebook.com/zuirens">
                            <h2 class="uppercase  mb16">#Follow Us</h2>
                        </a>
                        <div class="fb-like" data-href="https://www.facebook.com/zuirens" data-width="300px" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
                    </div>
                    <div class="col-md-7 col-sm-6 text-center">
                        <div class="instafeed grid-gallery" data-user-name="andyl2">
                            <ul></ul>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <footer class="footer-1 bg-primary">
          <div class="container">
                    <div class="row mb16">
                        <div class="col-xs-6">
                          <img alt="pioneer" class="logo" src="{% static "img/logo-light.png" %}">
                        </div>
                        <!-- <div class="col-xs-6 text-right">
                        </div> -->
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="sub">© Copyright 2017 - Zuirens</span>
                        </div>
                        <div class="col-xs-6 text-right">
                            <ul class="list-inline social-list">
                              <li>
                                  <a href="https://www.facebook.com/zuirens/">
                                      <i class="icon icon-xs ti-facebook"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="https://www.instagram.com/zuirens_live/">
                                      <i class="icon icon-xs ti-instagram"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="https://www.youtube.com/channel/UCo5tQnGYTpAwKyHZCXajMcg">
                                      <i class="icon icon-xs ti-youtube"></i>
                                  </a>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            <!--end of container-->
        </footer>
    </div>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/flexslider.min.js" %}"></script>
    <script src="{% static "js/spectragram.min.js" %}"></script>
    <script src="{% static "js/smooth-scroll.min.js" %}"></script>
    <script src="{% static "js/parallax.js" %}"></script>
    <script src="{% static "js/scripts.js" %}"></script>
    <!-- include flowplayer -->
    <script src="{% static "js/flowplayer.min.js" %}"></script>
    <script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script>
    <script src="{% static "js/flowplayer.background.min.js" %}"></script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.9&appId=1401988986704362";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>
    flowplayer.conf.analytics = "UA-1718206-52";

        window.onload = function() {
            flowplayer("#hlsjslive1", {
                safari: true,
                background: true,
                live: true,
                autoplay: true,
                adaptiveRatio: true,
                background: {
                audio: true,
                  },
                volume: 1.0,
                clip: {
                    sources: [{
                        type: "application/x-mpegurl",
                        src: "{{ control_meta.stream_source }}"
                    }]
                }

            });

        };
    </script>
    <script type="text/javascript">
      var slider_content_width = 100 / {{ sponsors|length }};
      var slide_width = 100 * {{ sponsors|length }};
      $('.sponsor-slider figure section.slide').width(slider_content_width + "%");
      $('.sponsor-slider figure').width(slide_width + "%");

      var slide_position = 1;
      var end_position = {{ sponsors|length }};
      var left = 0;

      $('.fa-chevron-left').click(function() {
        if (slide_position > 1) {
          left += 100
          $('.sponsor-slider figure').css('transition', '1s');
          $('.sponsor-slider figure').css('left', left+'%');
          slide_position -= 1;
        }
      });

      $('.fa-chevron-right').click(function() {
        if (slide_position < end_position) {
          left -= 100
          $('.sponsor-slider figure').css('transition', '1s');
          $('.sponsor-slider figure').css('left', left+'%');
          slide_position += 1;
        }
      });
    </script>

    <!-- <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1718206-52', 'auto');
  ga('send', 'pageview');

</script> -->
</body>

</html>
